<div class="card-header d-flex align-items-center">
  <h4>Room List</h4>
</div>
<table mdbTable class="table table-hover">
  <thead class="black white-text">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let room of rooms">
      <td>{{room.room_name}}</td>
  <td>{{room.address}}</td>
  <td>{{room.facilieties}}</td>
  <td>
    <button class="btn btn-danger btn-cls" [routerLink]="['edit']">Edit</button> |
    <button class="btn btn-warning btn-cls" (click)="deleteHotel()">Delete</button>
  </td>
    </tr>
  </tbody>
</table>

<div class="btn-group">
  <a class="btn btn-md btn-primary" routerLink="/admin/room/add"><i class="fa fa-2x fa-plus"></i></a>
</div>