<div class="super_container">
	
    <!-- Header -->
  
    <app-header></app-header>
  
    <!-- Menu -->
  
    <div class="menu">
      <div class="background_image" style="background-image:url(images/menu.jpg)"></div>
      <div class="menu_content d-flex flex-column align-items-center justify-content-center">
        <ul class="menu_nav_list text-center">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About us</a></li>
          <li><a href="rooms.html">Rooms</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="menu_review"><a href="#">Add your review</a></div>
      </div>
    </div>
    
    <!-- Home -->
  
    <div class="home">
      
      <!-- Home Slider -->
      <div class="home_slider_container">
        <!-- <div class="owl-carousel owl-theme home_slider"> -->
          
          <!-- Slide -->
          <!-- <div class="owl-item">
            <div class="background_image" style="background-image:url({{imageRoot}}/home_slider_1.jpg)"></div>
            <div class="home_content_container">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="home_content text-center">
                      <div class="home_subtitle">luxury resort</div>
                      <div class="home_title">Amazing Services, Location & Facilities</div>
                      <a href="#" class="button_container home_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of images;let i= index">
              <img class="slide-image" src="{{image.image}}" >
              <div class="slide-text">
                <h4>{{image.text}}</h4>
              </div>
            </div>
          </owl-carousel>
  
        
  
       
  
        <!-- Home Slider Dots -->
  
        <div class="home_slider_dots">
          <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
            <li class="home_slider_custom_dot active">01</li>
            <li class="home_slider_custom_dot">02</li>
            <li class="home_slider_custom_dot">03</li>
          </ul>
        </div>
  
      </div>
    </div>
  
    <!-- Search Bar -->
  
    <div class="search_bar">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="search_bar_container">
              <form action="#" id="search_bar_form" class="search_bar_form d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-between clearfix">
                <div>
                  <select class="search_form_select">
                    <option disabled selected>Select Arrival Date</option>
                    <option>07/15/2018</option>
                    <option>07/22/2018</option>
                    <option>07/29/2018</option>
                  </select>
                </div>
                <div>
                  <select class="search_form_select">
                    <option disabled selected>Select Departure Date</option>
                    <option>07/15/2018</option>
                    <option>07/22/2018</option>
                    <option>07/29/2018</option>
                  </select>
                </div>
                <div>
                  <select class="search_form_select">
                    <option disabled selected>Select Rooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div><button class="search_bar_button">Request a Quote</button></div>
              </form>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Intro -->
  
    <div class="intro">
      <div class="container">
        <div class="row row-lg-eq-height">
  
          <!-- Intro Content -->
          <div class="col-lg-5 intro_col">
            <div class="intro_container d-flex flex-column align-items-start justify-content-center magic_up">
              <div class="intro_content">
                <div class="section_title_container">
                  <div class="section_subtitle">luxury resort</div>
                  <div class="section_title"><h2>Relax in our Hotel</h2></div>
                </div>
                <div class="intro_text">
                  <p>Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula. Nullam molestie volutpat sapien, a dignissim tortor laoreet quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="intro_link"><a href="rooms.html">View Rooms</a></div>
                <a href="#" class="button_container intro_button"><div class="button text-center"><span>Book Your Stay</span></div></a>
              </div>
            </div>
          </div>
  
          <!-- Intro Image -->
          <div class="col-lg-7 intro_col">
            <div class="intro_images magic_up">
              <!-- Image credit: https://unsplash.com/@yuni_ladyday2 -->
              <div class="intro_1 intro_img"><img src="{{imageRoot}}/intro_1.jpg" alt=""></div>
              <!-- Image credit: https://unsplash.com/@liliane -->
              <div class="intro_2 intro_img"><img src="{{imageRoot}}/intro_2.jpg" alt=""></div>
              <!-- Image credit: https://unsplash.com/@brucemars -->
              <div class="intro_3 intro_img"><img src="{{imageRoot}}/intro_3.jpg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Big Room -->
  
    <div class="big_room">
      <div class="container-fluid">
        <div class="row row-xl-eq-height">
          <div class="col-xl-6 order-xl-1 order-2">
            <div class="big_room_slider_container">
  
              <!-- Big Room SLider -->
              <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                  <div class="item" *ngFor="let image of images;let i= index">
                    <img class="slide-image" src="{{image.image}}" >
                    <div class="slide-text">
                      <h4>{{image.text}}</h4>
                    </div>
                  </div>
                </owl-carousel>
            </div>
          </div>
          <div class="col-xl-6 order-xl-2 order-1">
            <div class="big_room_content">
              <div class="big_room_content_inner magic_up">
                <div class="section_title_container">
                  <div class="section_subtitle">luxury resort</div>
                  <div class="section_title"><h2>Rooms with private swimming pool</h2></div>
                </div>
                <div class="big_room_text">
                  <p>Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula. Nullam molestie volutpat sapien, a dignissim tortor laoreet quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra. Phasellus at commodo ligula. Nullam molestie volutpat sapien, a dignissim tortor  per inceptos himenaeos laoreet quis. Class aptent taciti soci osqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                </div>
                <div class="testimonial">
                  <div class="testimonial_stars">
                    <ul class="d-flex flex-row align-items-start justfy-content-start">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                  <div class="testimonial_text">“ Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula. Nullam molestie volutpat sapien, a dignissim tortor laoreet quis.</div>
                  <div class="testimonial_author d-flex flex-row align-items-center justify-content-start">
                    <div class="testimonial_author_image"><img src="{{imageRoot}}/testimonial.png" alt=""></div>
                    <div class="testimonial_author_name"><a href="#">Michael Smith</a><span>, Client</span></div>
                  </div>
                </div>
              </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Room -->
  
    <div class="rooms">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center magic_up">
              <div class="section_subtitle">luxury resort</div>
              <div class="section_title"><h2>Choose a Room</h2></div>
            </div>
          </div>
        </div>
        <div class="row room_row magic_up">
  
          <!-- Room -->
          
          <div class="col-lg-4 room_col" *ngFor="let item of hotels">
            <div class="room">
              <div class="room_image"><img class="imgc" src="{{item.images[0].url}}" alt="https://unsplash.com/@jonathan_percy"></div>
              <div class="room_content text-center">
                <div class="room_price">From $90 / <span>Night</span></div>
                <div class="room_type">{{item.hotel_name}}</div>
                <div class="room_title"><a href="rooms.html">{{item.facilieties}}</a></div>
                <div class="room_text">
                  <p>{{item.address}}</p>
                </div>
                <a href="#" class="button_container room_button"><div class="button text-center"><span>Book Now</span></div></a>
              </div>
            </div>
          </div>
          
      
  
        </div>
      </div>
    </div>
  
    <!-- Gallery -->
  
    <div class="gallery">
      <div class="gallery_slider_container">
        
        <!-- Gallery Slider -->
        <!-- <div class="owl-carousel owl-theme gallery_slider magic_up">
          <div class="owl-item gallery_item">
            <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            <a class="colorbox" href="images/gallery_1.jpg"><img src="{{imageRoot}}/gallery_1.jpg" alt=""></a>
          </div>
          <div class="owl-item gallery_item">
            <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            <a class="colorbox" href="images/gallery_2.jpg"><img src="{{imageRoot}}/gallery_2.jpg" alt=""></a>
          </div>
          <div class="owl-item gallery_item">
            <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            <a class="colorbox" href="images/gallery_3.jpg"><img src="{{imageRoot}}/gallery_3.jpg" alt=""></a>
          </div>
          <div class="owl-item gallery_item">
            <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            <a class="colorbox" href="images/gallery_4.jpg"><img src="{{imageRoot}}/gallery_4.jpg" alt=""></a>
          </div>
          <div class="owl-item gallery_item">
            <div class="gallery_select d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
            <a class="colorbox" href="images/gallery_5.jpg"><img src="{{imageRoot}}/gallery_5.jpg" alt=""></a>
          </div>
        </div> -->
  
      </div>
  
      <!-- Nav -->
      <div class="gallery_slider_nav_container">
        <div class="container">
          <div class="row">
            <div class="col clearfix">
              <div class="gallery_slider_nav_content d-flex flex-row align-items-start justify-content-start">
                <div class="gallery_slider_prev gallery_slider_nav"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                <div class="gallery_slider_next gallery_slider_nav"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
        </div>			
      </div>
  
    </div>
  
    <!-- Newsletter -->
  
    <div class="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="newsletter_content">
              <div class="section_title_container">
                <div class="section_subtitle">luxury resort</div>
                <div class="section_title"><h2>Our Newsletter</h2></div>
              </div>
              <div class="newsletter_text">
                <p>Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula. Nullam molestie volutp at sapien.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="newsletter_form_container">
              <form action="#" id="newsletter_form" class="newsletter_form">
                <input type="email" class="newsletter_input" placeholder="Your e-mail" required="required">
                <button class="newsletter_button"><span>Subscribe</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="newsletter_border_container"><div class="container"><div class="row border_row"><div class="col"><div class="newsetter_border"></div></div></div></div></div>
    </div>
  
    <!-- Footer -->
  
    <footer class="footer">
      <div class="container">
        <div class="row">
  
          <!-- Footer Logo -->
          <div class="col-lg-3 footer_col">
            <div class="footer_logo_container">
              <div class="footer_logo">
                <a href="#" class="text-center">
                  <div class="footer_logo_subtitle">hotel</div>
                  <div class="footer_logo_title">Samira</div>
                  <div class="footer_logo_stars">
                    <ul class="d-flex flex-row align-items-start justfy-content-start">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                </a>
              </div>
              <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  </div>
            </div>
          </div>
  
          <!-- Footer Menu -->
          <div class="col-lg-5 footer_col">
            <div class="footer_menu">
              <ul class="d-flex flex-row align-items-start justify-content-start">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="rooms.html">Rooms</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
              <div class="footer_menu_text">
                <p>Praesent fermentum ligula in dui imperdiet, vel tempus nulla ultricies. Phasellus at commodo ligula.</p>
              </div>
            </div>
          </div>
  
          <!-- Footer Contact -->
          <div class="col-lg-4 footer_col">
            <div class="footer_contact clearfix">
              <div class="footer_contact_content float-lg-right">
                <ul>
                  <li>Address: <span>481 Creekside Lane Avila CA 93424</span></li>
                  <li>Phone: <span>+53 345 7953 32453</span></li>
                  <li>Email: <span>yourmail@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </footer>
  </div>